@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="text-center">Textile Inventory Management System</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-white bg-secondary">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Products</h5>
                    <ul class="list-group">
                        @* @foreach (var product in Model.TotalProducts)
                        {
                            <li class="list-group-item">
                                @product.Name - @product.StockQuantity
                            </li>
                        } *@
                        <table class="table">
                            <thead>
                                <tr class = "text-white">
                                    <th>Product Name</th>
                                    <th>Stock Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.TotalProducts)
                                {
                                    <tr class="text-white">
                                        <td>@product.Name</td>
                                        <td>@product.StockQuantity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary">
                <div class="card-body text-center">
                    <h5 class="card-title">Low Stock Products</h5>
                    <ul class="list-group">
                        @* @foreach (var product in Model.LowStockProducts)
                        {
                            <li class="list-group-item">
                                @product.Name - @product.StockQuantity
                            </li>
                        } *@
                        <table class="table">
                            <thead>
                                <tr class = "text-white">
                                    <th>Product Name</th>
                                    <th>Stock Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.LowStockProducts)
                                {
                                    <tr class="text-white">
                                        <td>@product.Name</td>
                                        <td>@product.StockQuantity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Sales Revenue</h5>
                    <p class="card-text display-4">@Model.TotalRevenue</p>
                </div>
            </div>
        </div>
    </div>
</div>
